*.egg-info
*.pyc
*.so

.vscode/
__pycache__/
artifacts/
third_party/spiral_waveform
tools/docs/_*
tools/docs/losses/*
!tools/docs/losses/*.rst
tools/docs/metrics/*
!tools/docs/metrics/*.rst
tools/docs/ops/*
!tools/docs/ops/*.rst
