h5py
ismrmrd
matplotlib<=3.5.3
numpy==1.22.1
plotly
PyWavelets
scipy<1.4.0
tensorboard
tensorflow>=2.10.0,<2.11.0
tensorflow-graphics
tensorflow-io>=0.27.0,<0.28.0
tensorflow-nufft>=0.10.0,<0.11.0
tensorflow-probability>=0.18.0,<0.19.0